body {
  font-family: "Poppins", sans-serif;
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.btn-add {
  background: #e27f0e;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
  cursor: pointer;
}

.btn-substract {
  background: #e27f0e;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
  cursor: pointer;
}

.count {
  color: #f82500;
  font-size: 100px;
  margin: 0;
  position: relative;
  left: 50px;
}
